<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="C:\Users\Pilar\Desktop\mercado-Liebre\estilos.css"reel="stylesheet">
    </head>
<body>
    <header>
        <img src="file:///C:/Users/Pilar/Desktop/mercado-Liebre/public/logo-mercado-liebre.svg" alt="el mejor logo de mercado liebre" width="100%">
        <h2>lugar para poner barra de busqueda</h2>
        <h1>Compra en cuotas y sin tarjeta de credito</h1>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <h2>Sección: Basado en tu última visita</h2>
    <img src="C:\Users\Pilar\Desktop\mercado-Liebre\public\img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
    <ol>
        <li>$6.770</li>
        <li>40 % OFF</li>
        <li>Cafetera Moulinex</li>

        <img src="C:\Users\Pilar\Desktop\mercado-Liebre\public\img-macbook-pro-2019.jpg" alt="macbook-pro" width="100%">
    </ol>
    <li>$230.000</li>
        <li> 20% off </li>
            <li> MacBook Pro 2019 </li>
    </ol>
    <img src="C:\Users\Pilar\Desktop\mercado-Liebre\public\img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" width="100%">
</ol>
<li>$70.500</li>
    <li> 10% off </li>
        <li>Samsung Galaxy S10</li>
</ol>
    <img src="C:\Users\Pilar\Desktop\mercado-Liebre\public\img-tv-samsung-smart.jpg" alt="tv-samsung-smart" width="100%">
     </ol>
        <li>$23.200</li>
         <li> 5% off </li>
        <li> SmartTv Samsung 43" </li>
</ol>
    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
         <h4>Envío gratis desde $ 2.500</h4>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
         <h4>Seguridad, de principio a fin</h4>
         ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.<br></br>
       Copyright © 1999-2020 MercadoLiebre S.R.L.
    </footer>
</body>
</html>
